.header__logo {
  max-width: 142px;
  background-image: url('../../../images/mesto-logo.svg');
  background-size: contain;
  width: 142px;
  display: block;
  min-height: 33px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 460px){
  .header__logo {
      width: 103.74px;
      min-height: 24.4px;
      margin-left: 27px;
  }
}