.photo-card__delete-button {
    background-image: url('../../../images/delete-card-icon.svg');
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    width: 18px;
    height: 19px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 20px;
    visibility: hidden;
}

.photo-card__delete-button:hover {
    cursor: pointer;
    opacity: .5;
}